<?xml version="1.0"?>
<config>
    <modules>
        <Magecloud_Notmandatory>
            <version>1.0.0</version>
        </Magecloud_Notmandatory>
    </modules>
	<frontend>
		<layout>
			<updates>
				<Magecloud_Notmandatory>
					<file>notmandatory.xml</file>
				</Magecloud_Notmandatory>
			</updates>
		</layout>
	</frontend>
    <global>
		<models>
            <sales>
                <rewrite>
                    <quote_address>Magecloud_Notmandatory_Model_Quote_Address</quote_address>
                </rewrite>
            </sales>
			<customer>
				<rewrite>
					<address>Magecloud_Notmandatory_Model_Address_Mandatory</address>
				</rewrite>
			</customer>
        </models>
		<resources>
			<notmandatory_setup>
				<setup>
					<module>Magecloud_Notmandatory</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</notmandatory_setup>
			<notmandatory_write>
				<connection>
					<use>core_write</use>
				</connection>
			</notmandatory_write>
			<notmandatory_read>
				<connection>
					<use>core_read</use>
				</connection>
			</notmandatory_read>
		</resources>
		<helpers>
			<notmandatory>
				<class>Magecloud_Notmandatory_Helper</class>
			</notmandatory>
		</helpers>        
	</global> 
</config>